package main

import (
	"fmt"
	"log"

	"{{.ProjectName}}/config"
	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

func main() {
	// Load configuration
	config, err := config.Load()
	if err != nil {
		log.Fatalf("Failed to load config: %v", err)
	}

	// Create a new Echo instance
	e := echo.New()

	// Middleware
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())

	// Routes
	e.GET("/", func(c echo.Context) error {
		return c.String(200, "Hello, World!")
	})

	// Start server using the port from the configuration
	serverAddress := fmt.Sprintf(":%d", config.Server.Port)
	e.Logger.Fatal(e.Start(serverAddress))
}